@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 12s linear infinite;
}
